<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061014264667-1gcj0iko2vo8vmok9kuj7s1rd9grugm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061014264667-1gcj0iko2vo8vmok9kuj7s1rd9grugm7</string>
	<key>API_KEY</key>
	<string>AIzaSyDys1gyLh8OccSNtl1T0ILrZRSjCHWT3uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1061014264667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>brigit.mes</string>
	<key>PROJECT_ID</key>
	<string>messenger-c4e52</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-c4e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061014264667:ios:bbebd5285cc8398ca6d87e</string>
</dict>
</plist>